body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.active {
  fill: #d22f57 !important;
  stroke: #a11239 !important;
}

.bar {
  fill: #00c49f;
  stroke: none;
}

.inactive {
    fill: #ff8042;
    stroke: #ee611d;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.point {
  fill: rgba(255, 187, 40, 0.75);
  stroke: #eb930f;
}

#partOne {
  margin: 2.5em auto;
}
